a:hover{
    transition-duration: 00.3s;
    transition-timing-function: ease-in-out;
    background-color: rgb(23, 138, 96);
}

.navbar{
    text-align:center;
    position:relative;
    top: 50px;
   
}

a{
    color:white;
    background-color:rgb(95, 92, 92);
    padding: 20px 14px 20px 18px;
    margin-right:-5px;
    text-decoration:none;
}



